<h1>Videos (<%= @videos.length %>)</h1>
<%= link_to "New Video", "/videos/new" %>

<% @videos.each do |video| %>
  <p><%= video.title %>, <%= video.artist %></p>
  <iframe width="560" height="315" src="<%= convert_url(video.url) %>" frameborder="0" allowfullscreen></iframe> 
<% end %>