<%= link_to "Back to Videos", videos_url %> | <%= link_to "Edit", edit_video_path(@video) %> | <%= link_to "Delete", @video, method: :delete, data: {confirm: "Are you sure you want to delete this video?"}  %>

<p><%= @video.title %>, <%= @video.artist %></p>
<iframe width="560" height="315" src="<%= convert_url(@video.url) %>" frameborder="0" allowfullscreen></iframe>

