<p><%= @video[:title] %>, <%= @video[:artist] %></p>
  <iframe width="560" height="315" src="<%= convert_url(@video[:url]) %>" frameborder="0" allowfullscreen></iframe>  

<!-- <p><%= @video[:title] %>, <%= @video[:artist] %></p>
<img src="<%= @video[:url] %>"> This is for image--> 